
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="react-app">Loading &hellip;</div>

     <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  	 <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  </body>
  <script src="http://localhost:8080/javascripts/build.js"></script>
  
</html>
